name: Check for workflows
on:
  push:
  pull_request:
  schedule:
  - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:

    - name: Check out
      uses: actions/checkout@v2

    - name: Install jq
      run: |
        sudo apt update
        sudo apt install -y jq

    - name: Generate
      run: |
        ./fetch.sh -u "${{ github.repository_owner }}" -o repos.md
        ./generate.sh -o dashboard.md -i repos.md
        if [ -z "$(git status -s -- dashboard.md repos.md)" ]; then
          echo No changes to commit
          exit 0
        fi
        git config user.email "check-action@github"
        git config user.name "check-action"
        git add repos.md dashboard.md
        git commit -m "Update markdown files"
        git push origin master
